/**
  reset.css
  author : codedreamfy
*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
  border: none; outline: 0;
  background: transparent;
	-webkit-tap-highlight-color: transparent;
}
/*
  type 为number的默认样式
 */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: Arial,'Times New Roman',"Microsoft Yahei","微软雅黑","Helvetica Neue",Helvetica,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	line-height: 1;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,body {
  /* 禁止选中文本（如无文本选中需求，此为必选项） */
  /* -webkit-user-select: none;
  user-select: none; */
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none !important;
}

body {
  overflow-x: hidden;
}

body.scroll {
  height: auto;
}

img,
embed,
object,
audio,
video {
  height: 100%;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr,
td,
th {
  padding: 0;
  text-align: center;
	border: none;
}

a {
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none !important;
	-webkit-tap-highlight-color: transparent;
	color: inherit;
}
em,i { font-style: normal;}

/* utils */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: ''; display: block;
  clear: both; visibility: hidden;
  font-size: 0; height: 0;
}
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.hide { display: none;}

html, body{
  background: #f4f4f5;
  height: 100%;
  font-size: 14px;
  color: #333;
}


.delay-d1s {
  animation-delay: 0.1s
}

.delay-d2s {
  animation-delay: 0.2s
}

.delay-d3s {
  animation-delay: 0.3s
}

.delay-d4s {
  animation-delay: 0.4s
}

.delay-d5s {
  animation-delay: 0.5s
}

.delay-1d5s {
  animation-delay: 1.5s
}

.el-table-border {
  border: 1px solid #e6e6e6!important;
}

